
$text-color: white;
$style-center: center;
$margin-value: 50px;
$transition: 2s;

#root {
  width: 100dvw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: $style-center;
}

#quote-box {
  background-color: rgb(228, 228, 220);
  border-radius: 8px;
  width: 500px;
  height: auto;
  text-align: $style-center;
  padding: $margin-value;
  font-family: Helvetica, Arial, sans-serif;
}

#author {
  text-align: right;
  font-style: italic;
  transition: color $transition;
}

#text {
  transition: color $transition;
  font-size: 2rem;
  font-weight: 500;
}

#new-quote {
  color: $text-color;
  transition: background-color $transition;
  border-radius: 3px;
}

.contentAll {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  transition-duration: $transition;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitter-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 50px;
  height: 40px;
  transition-duration: $transition;
}

.copy-right {
  color: $text-color;
}